[submodule "load/xwwp"]
	path = load/xwwp
	url = https://github.com/canatella/xwwp.git
[submodule "exec-path-from-shell"]
	path = load/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "cheat-sh"]
	path = load/cheat-sh.el
	url = https://github.com/davep/cheat-sh.el.git
[submodule "org-gcal"]
	path = load/org-gcal.el
	url = https://github.com/kidd/org-gcal.el.git
[submodule "emacs-request"]
	path = load/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "alert"]
	path = load/alert
	url = https://github.com/jwiegley/alert.git
[submodule "load/org-roam"]
	path = load/org-roam
	url = git@github.com:firekay/org-roam.git
[submodule "es-mode"]
	path = load/es-mode
	url = git@github.com:firekay/es-mode.git
[submodule "aweshell"]
	path = load/aweshell
	url = git@github.com:firekay/aweshell.git
[submodule "vterm-toggle"]
	path = load/vterm-toggle
	url = https://github.com/jixiuf/vterm-toggle.git
